@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    color: #000;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

h1, h2, p {
    margin: 0;
}

.banner {
    width: 100%;
    background: url(/img/bg2.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 20vh;
    padding-bottom: 10vh;
    color: white;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.text {
    width: 35%;
    padding-bottom: 50px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.button {
    display: inline-block;
    background-color: #9614e18d;
    border-radius: 20px;
    padding: 10px 45px;
    color: #fff;
    text-decoration: none;
}

.button:hover {
    text-decoration:none;
    background-color: #dac800;
    color: #000;
}

.photoInner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 10vh;
    padding-bottom: 10vh;
}
footer{
    padding: 30px;
    background-color: rgb(99, 97, 99);
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 380px;
    height: auto;
    border-radius: 20px;
}
.vk2{
    display: flex;
}
.vk{
    width:40px;
    padding: 10px;
}
.vk:hover{
    width:40px;
}
img:hover{
    width: 550px;
}
.zxc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icecream {
    width: 60%;
}

h2 {
    margin-bottom: 20px;
}

@media (max-width: 1224px) {
    .banner {
        padding-top: 20vh;
        padding-bottom: 10vh;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 36px;
        margin-bottom: 15px;
    }
}

@media (max-width: 800px) {
    img {
        width: 250px;
    }
}

@media (max-width: 560px) {
    .photoInner {
        flex-direction: column;
    }
    img:hover{
        width:250px;
    }
}

@media(max-width: 395px){
    .photoInner {
        flex-direction: column;
    }
   img{
    width:250px;
   }
   img:hover{
    width:250px;
}
}
@media (orientation: portrait) and (max-width: 800px) {
    .text {
        width: 60%;
    }
}
